<div class="navbar">
  <nav>
    <ul>
      <div>
        <li>
          <a routerLink="/" routerActiveLink="active">Logo</a>
        </li>
      </div>
      <div class="sec-nav">
        <li>
          <a
            routerLink="/auth-component"
            routerActiveLink="active"
            routerCurrentWhenActive="page"
            >Auth</a
          >
        </li>
        <li>
          <a
            routerLink="/user-component"
            routerActiveLink="active"
            routerCurrenWhenActive="page"
            >User</a
          >
        </li>
      </div>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
