<div class="signup-box">
  <p class="title">Register</p>
  <form [formGroup]="singupForm" class="form-box">
    <div>
      <label for="email">Full Name: </label>
      <input type="text" name="fullname" id="username" />
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="text" name="email" id="email" />
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
    </div>
    <div>
      <label for="password">Confirm Password: </label>
      <input type="password" name="confirm_password" id="password" />
    </div>
    <button class="button" type="submit">Signup</button>
  </form>
</div>
